.background{
    background: #0B486B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.Wrapper {
    overflow: hidden;
}

.Clinic{
    float:right;
    padding-top: 5%;
    padding-right: 7%;
}

.Garage{
    float:left;
    padding-top: 5%;
    padding-left: 10%;
}

