/* 


.Wrapper {
    overflow: hidden;
}

.Clinic{
  
    display: flex;
  justify-content: center;
}


 */



.Wrapper {
  overflow: hidden;
}

.Garage{
  float:right;
  padding-top: 5%;
  padding-right: 7%;
}

.Clinic{
  float:left;
  padding-top: 5%;
  padding-left: 10%;
}
